/* reset*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,200;8..144,300;8..144,400&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img{
    width: 100%;
}

body{
    font-family: 'Roboto Flex', sans-serif;
}

/* header */
.background-head{
    background-color: #FF6900;
    width: 100%;
    padding: 10px 0;
    margin: 0 auto;
    position: fixed;
    box-shadow: 10px 2px 2px  #424242;
    z-index: 1;
}

.cont-head{
    display: flex;
    width: 80%;
    margin: 0 auto;
}

.sex-selector ul,
.foot-text ul {
    list-style: none;
}

.sex-selector ul li,
.foot-text ul li {
    display: inline;
}

.sex-selector ul li a,
.menu span a,
.foot-text ul li a
{
    text-decoration: none;
    padding: 10px;
    color: white;
}

.sex-selector{
    text-align: center;
    width: 20%;
    display: flex;
    align-items: center;
}

.logo{
    width: 60%;
    display: flex;
    align-items: center;
    padding: 0 10px;
    justify-content: center;
}

.logo img{
    width: 10%;
    
}

.menu{
    text-align: right;
    padding: 0 10px;
    display: flex;
    align-items: center;
    width: 20%;
    justify-content: flex-end;
}

.icon {
    color: white;
    display: flex;
    align-items: center;
}
/* main */

.container{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    padding: 25px 0;
    margin: 0 auto 75px auto ; 
    position:relative;
}

.cont-img{
    width: calc((100% - 30px)/3);
    margin: 100px 5px 0 5px;
    position: relative;
}

.descr ul li{
    list-style: none;
}

.brand{
    font-size: 10px;
}

.article{
    font-weight: bold;
    font-size: 20px;
}

.color-price{
    color: red;
    font-weight: bold;
    font-size: 15px;
}

.realprice{
    text-decoration:line-through;
    font-size: 15px;
}

.descr{
    position: absolute;
    left: 0;
    top: 100%;
}

.heart{
    color: black;
    background-color: white;
    position: absolute;
    right: 0%;
    bottom: 91%;
    font-size: 40px;
    width: 40px;
    text-align: center;
}

.heart:hover{
    color: red;
}

.discount{
    font-weight: bold;
    color: white;
    background-color: red;
    width: fit-content;
    font-size: 15px;
    padding: 5px 10px;
    position: absolute;
    top: 90%;
    left: 0%;
}

.bio{
    font-weight: bold;
    color: white;
    background-color: green;
    width: fit-content;
    font-size: 15px;
    padding: 5px 10px;
    position: absolute;
    top: 90%;
    left: 13%;
}

#bio-b{
    left: 0%;
}

.img2{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}

.cont-img:hover .img2{
    display: block;
}
/* footer */
footer{
    background-color: #1A1A1A;
    color: white;
    padding: 15px 0;
}

.cont-foot{
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.info{
    width: 85%;
}

.info h2{
    padding: 10px;
}

.foot-text ul li{
    font-size: 10px;
}

.social{
    width: 15%;
    display: flex;
    flex-direction: column;
    line-height: 30px;
}

.icon-social{
    padding: 5px;
}

.foot-title{
    text-align: right;
    padding: 0 13px;
}

.cont-ico-social{
    text-align: right;
}